.clients
	+section
	// background: $bg 
	// overflow: hidden
	&__header
		font-weight: normal
		line-height: 1.22
		@include css-lock(32, 68, 320, 1200, font-size, px);
		margin-left: getGrid(1) 
		padding-right: getGrid(1) 
		padding-bottom: 100px
		background: $bg
		position: relative
		+fadein
		p
			z-index: 10
			span
				display: inline-block
				padding: 16px
				margin: -16px 0
				width: getGrid(6.5)
				z-index: 9
				position: absolute
				background: #fff
				&:after
					  content: ''
					  position: absolute
					  top: 0
					  right: 0
					  bottom: 0
					  left: 0
				
	h3
		font-size: 48px 
		font-weight: normal
		padding-bottom: 32px
		background: $bg
		position: relative
		+fadein
	&__list
		background: $bg
		// column-count: 4
		// column-gap: 16px
		display: flex
		flex-wrap: wrap
		flex-direction: row
		font-size: 18px 
		line-height: 1.5 
		padding-bottom: 32px 
		position:relative
		+fadeout
		&:after
			bottom: -56px
		li
			+grid(3)
	&__more
		background: $bg
		color: #f50 
		font-size: 18px 
		float: right
		+grid(3)
		padding: 0 
		position: relative
		+fadeout



@keyframes text-changer
	0%
		content: '20 years.'
	17%
		content: '7 300 days.'
	34%
		content: '438 000 hours.'
	51%
		content: '26•10⁶ mins.'
	68%
		content: '6.307e+8 sec.'
	85%
		content: 'fun.'
	100%
		content: 'ages!'