.clients
	+section
	background: $bg 
	overflow: hidden
	&__header
		font-weight: normal
		line-height: 1.22
		@include css-lock(32, 68, 320, 1200, font-size, px);
		margin-left: getGrid(1) 
		margin-right: getGrid(1) 
		margin-bottom: 100px
		span
			display: inline-block
			padding: 16px
			margin: -16px 0
			width: getGrid(6.5)
			z-index: -1
			position: absolute
			background: #fff
			&:after
				  content: ''
				  position: absolute
				  top: 0
				  right: 0
				  bottom: 0
				  left: 0
				  background: $text
				  transform: scaleX(.5)
				
	h3
		font-size: 48px 
		font-weight: normal
		margin-bottom: 30px 
	&__list
		// column-count: 4
		// column-gap: 16px
		display: flex
		flex-wrap: wrap
		flex-direction: row
		font-size: 18px 
		line-height: 1.5 
		margin-bottom: 30px 
		li
			+grid(3)
	&__more
		color: #f50 
		font-size: 18px 
		float: right
		+grid(3)
		padding: 0 



@keyframes text-changer
	0%
		content: '20 years.'
	17%
		content: '7 300 days.'
	34%
		content: '438 000 hours.'
	51%
		content: '26•10⁶ mins.'
	68%
		content: '6.307e+8 sec.'
	85%
		content: 'fun.'
	100%
		content: 'ages!'