+font(dax,'DaxlineWebPro')
$bg: #f3f3f3
$text: #1d0b25

=grid($n)
	width: ceil(8.33%*$n)
	padding-right: 16px  
@function getGrid($n)
	@return ceil(8.33%*$n)
=section
	margin: 440px 24px
	padding: 24px 0
	+r(480)
		margin: 440px 16px
	position: relative
	z-index: 2
	border-top: 1px solid #bababa
	border-bottom: 1px solid #bababa
	border: 1px solid red



.space
	height: 60vh 
body
	background: $bg
	// font-size: 200px
	// +css-lock(16, 50, 600, 1000)
	line-height: 1.5
	font-family: dax,sans-serif 
	color: $text 
	@include css-lock(14, 18, 320, 1200, font-size, px)

.fontain
	position: fixed
	left: 0 
	top: 0
	z-index: 10  
	pointer-events: none

a
	color: #0000ff 
	text-decoration: none

b
	font-weight: 1900

.out 
	margin: 0 auto
	max-width: 1248px

