+font(dax,'DaxlineWebPro')
$bg: #f3f3f3
$text: #1d0b25
$border: #d8d8d8
$highlight: #ff5500

=grid($n)
	width: 8.33%*$n
	padding-right: 16px  
@function getGrid($n)
	@return 8.33%*$n
=section
	transform: translate3d(0,0,0)
	margin: 440px 24px
	padding: 24px 0
	// +r(480)
	// 	margin: 440px 16px
	position: relative
	z-index: 2
	+m
		margin: 440px 0
		padding: 0 16px  
	// border-top: 1px solid #bababa
	// border-bottom: 1px solid #bababa
	// border: 1px solid red

=fadein
	&:before
		position: absolute
		content: ''
		top: -80px
		left: 0
		height: 80px
		width: 100%
		background: linear-gradient(rgba(243,243,243,0), rgba(243,243,243,1))

=fadeout
	&:after
		position: absolute
		content: ''
		bottom: -80px
		left: 0
		height: 80px
		width: 100%
		background: linear-gradient(rgba(243,243,243,1), rgba(243,243,243,0))


.space
	height: 60vh 
body
	cursor: none
	background: $bg
	// font-size: 200px
	// +css-lock(16, 50, 600, 1000)
	line-height: 1.5
	font-family: dax,sans-serif 
	color: $text 
	@include css-lock(14, 18, 320, 1200, font-size, px)

.fontain
	position: fixed
	left: 0 
	top: 0
	z-index: 10  
	pointer-events: none

a
	color: #0000ff 
	text-decoration: none

b
	font-weight: 1900

.out 
	margin: 0 auto
	max-width: 1248px

.cursor
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 100
	pointer-events: none
	&__point
		background: $highlight
		position: absolute
		left: -100px
		top: -100px
		height: 8px
		width: 8px
		z-index: 99

	&__frame
		background: #ffffff
		position: absolute
		left: -100px
		top: -100px
		height: 24px
		width: 24px
		z-index: 98
		transition: all .5s ease-out