.header
	position: sticky
	left: 0px  

	top: 50%
	transform: translate(0,-50%)

	align-items: baseline

	// Desktop
	
	display: flex
	flex-direction: row
	margin: 0 24px  
	z-index: 1 
	&:before
		position: absolute
		content: ''
		top: -30vh
		left: 0
		height: 30vh
		width: 100%
		background: linear-gradient(rgba(243,243,243,0), rgba(243,243,243,1))
	padding: 32px 0
	background: $bg

	&__pinned
		border-bottom: 1px solid #d8d8d8


	&__logo
		+grid(2)
		align-self: center
	&__text
		+grid(10)
		+r(480)
			padding-left: getGrid(2)
			line-height: 1.5
		line-height: 1.5
		

	&__cv
		margin-left: auto 
		// display: block
		// border: 1px solid red 
		// height: 40px 
		// line-height: 40px 
		width: getGrid(2)
		+r(480)
			width: auto
			margin-left: getGrid(2)