.header
	position: sticky
	left: 0px  

	top: 50%
	transform: translate(0,-50%)

	align-items: baseline

	// Desktop
	
	display: flex
	flex-direction: row
	margin: 0 24px  
	z-index: 1 
	
	+m
		// display: none !important
		// background: red 
		display: block

	&__pinned
		border-bottom: 1px solid #d8d8d8


	&__logo
		+grid(2)
		align-self: center
		+m
			float: left
			width: auto
	&__text
		+grid(10)
		+m
			+grid(12)
			padding-left: getGrid(2)
			line-height: 1.5
		&__welcome
			font-weight: 900

	&__cv
		margin-left: auto 
		// display: block
		// border: 1px solid red 
		// height: 40px 
		// line-height: 40px 
		width: getGrid(2)
		// +r(480)
		// 	width: auto
		// 	margin-left: getGrid(2)
		+m
			width: auto

.logo
	fill: #ff5500
	transition: all .2s linear