.header
	position: sticky
	left: 0px  

	top: 50%
	transform: translate(0,-50%)

	align-items: baseline

	// Desktop
	
	display: flex
	flex-direction: row
	margin: 0 24px  
	z-index: 1 
	align-items: baseline
	// &>*
	// 	outline: 1px solid red

	&__logo
		+grid(2)
		align-self: center
		margin-top: -16px
	&__text
		+grid(10)
		+r(480)
			padding-left: getGrid(2)
			line-height: 1.5
		line-height: 2
		

	&__cv
		margin-left: auto 
		// display: block
		// border: 1px solid red 
		// height: 40px 
		// line-height: 40px 
		width: getGrid(2)
		+r(480)
			width: auto
			margin-left: getGrid(2)