.hello
	+section
	margin-bottom: 0  
	line-height: 1.22
	@include css-lock(32, 72, 600, 1200, font-size, px)
	top: 60vh
	+rh(600)
		top: 65vh
	//background: $bg
	z-index: -1
	position: sticky
	perspective: 1000
	
	&__arrow
		position: relative
		+r(480)
			top: 1em
		top: -1.2em 
		padding-left: 15px


	&__text
		padding-left: getGrid(2)
		margin-left: -32px