.hello
	+section
	margin-bottom: 0  
	line-height: 1.22
	@include css-lock(32, 72, 600, 1200, font-size, px)
	margin-top: 50vh
	+rh(600)
		margin-top: 65vh
	//background: $bg
	
	&__arrow
		position: relative
		+r(480)
			top: 1em
		top: -1.2em 
		padding-left: 15px


	&__text
		padding-left: getGrid(2)
		margin-left: -32px
