.industries
	+section
	background: $bg
	h2
		font-size: 18px 
		font-weight: normal
		color: #f50
		margin-bottom: 30px  
	&__list
		font-size: 48px 
		line-height: 1.75
		
		display: flex
		flex-direction: row
		flex-wrap: wrap
		li
			+grid(6)