.industries
	+section
	background: $bg
	position: relative
	+fadein
	border-bottom: 1px solid #d8d8d8
	h2
		font-size: 18px 
		font-weight: normal
		color: #f50
		margin-bottom: 30px  
	&__list
		@include css-lock(40, 48, 960, 1200, font-size, px)
		line-height: 1.75
		
		display: flex
		flex-direction: row
		flex-wrap: wrap
		li
			+grid(6)
			padding-left: 16px
			margin-left: -16px
			margin-right: 16px
			+m
				+grid(12)
			&:hover
				background: #fff