---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin header -->
<div class="header">
	<div class="header__logo">
		<img src="/img/genn.svg" width="84" alt="">
	</div>
	<div class="header__text">
		Hello, I am Genn<br />
		<a href="mailto:yo@genn.org">yo@genn.org</a><br />
		+1 (415) 570-8911
	</div>

	<a href="#" class="header__cv">
		Download CV in PDF
	</a>
</div>
<!-- end header -->

<!-- begin hello -->
<section class="hello">
	<div class="hello__text">
		<p>Product Designer,<br> UX protagonist, <br>Master of Computer Sciences</p>
	</div>
	<div class="hello__arrow"><img src="/img/arrow.svg" width="53" alt=""></div>
</section>
<!-- end hello -->

<!-- begin skills -->
<section class="skills">
	<div class="skills__back">
	</div>
	<div class="skills__list">
	</div>
	<div class="skills__text">
		<p>Usually, I join a project at the very beginning or the moment help is needed the most. It doesn’t matter if I start from scratch or have a working solution to support. I build a strong product as a mixture of design, technology, strategy, research and deep understanding of the underlying process.</p>
		<p>I don’t just solve usability tasks. I solve business tasks making the product the most usable the way the business needs it to be.</p>
	</div>
</section>
<!-- end skills -->


<!-- begin clients -->
<section class="clients">
	<h2 class="clients__header">
		Designing <br>the awesomest of experiences <br>for more than<span></span>
	</h2>
	<h3>Was happy to work on projects for</h3>
	<ul class="clients__list">
		<li>Austrian Airlines</li>
		<li>UNICEF</li>
		<li>glomex GmbH</li>
		<li>Sony Pictures</li>
		<li>EBA</li>
		<li>Video Gorillas</li>
		<li>rabota.ua</li>
		<li>Kyivstar</li>
		<li>t.A.T.u.</li>
		<li>Farmak</li>
		<li>Starcom Mediavest</li>
		<li>Djuice</li>
	</ul>
	<div class="clients__more">… and many more since 1998!</div>
</section>
<!-- end clients -->

<!-- begin industries -->
<section class="industries">
	<h2 class="industries__header">
		Here are only a few industries and activities I applied my skills in
	</h2>
	<ul class="industries__list">
		<li data-img='["img/emoji/robot-face.png"]'>Artifical Intelligence</li>
		<li data-img='["img/emoji1.png"]'>Video Processing</li>
		<li>Video Solutions</li>
		<li>Enterprise</li>
		<li>Retail</li>
		<li>Streaming</li>
		<li>News and Media</li>
		<li>Data Visualisation</li>
		<li>Social Projects</li>
		<li>Music Industry</li>
		<li>Surveillance and Security</li>
		<li>Advertisement</li>
	</ul>
</section>
<!-- end industries -->

<!-- begin contact -->
<section class="contact">
	<h2 class="contact__header">I’ll be excited to showcase <strong>all the projects from my portfolio</strong> in person or on the call.</h2>
	<div class="contact__text">
		<p><span></span>It’s not about being lazy or something or not caring to show a couple of screenshots. It’s about solving the complex tasks.</p>
		<p>Starting to work on a project from scratch and evolving it to a winning solution at the end of the day throughout a year, would I explain it with screenshots? Every project is a novel. Well, illustrated, but nevertheless, it is vast.</p>
		<p>As a designer, I know that no one will read the text so long in a portfolio. I love to show and explain the cases, especially when tutoring the designers, but it is the act, not screenshots with texts.</p>
	</div>
	<!-- begin socials -->
	<div class="socials">
		<div class="socials__getme">
			<div class="copy">
				<a href="mailto:yo@genn.org" class="copy_2copy">yo@genn.org</a>
				<div class="copy__button">copy</div>
			</div>
			<div class="copy">
				<span class="copy_2copy">+1 (415) 570-8911</span>
				<div class="copy__button">copy</div>
			</div>
		</div>
		<div class="socials__stuff">
			<h3>The stuff I did back in 2015 and before:</h3>
			<ul>
				<li><a href="#">Previous version of Genn.org</a></li>
				<li><a href="#">Behance</a> and <a href="#">Dribbbbbbble</a></li>
				<li><a href="#">Twitter</a></li>
			</ul>
		</div>
	</div>
	<!-- end socials -->
</section>
<!-- end contact -->

<!-- begin footer -->
<div class="footer">
	<p>Also <a href="#">check my Linkedin</a>, it is up to date</p>
</div>
<!-- end footer -->

<!-- begin sneakpeek -->
<section class="sneakpeek">
	<div class="sneakpeek__frame">
	</div>
	<div class="sneakpeek__gallery">
		<img src="/img/work/0.png" >
	</div>
	<div class="sneakpeek__gallery">
		<img src="/img/work/1.png" >
	</div>
	<div class="sneakpeek__gallery">
		<img src="/img/work/2.png" >
	</div>
	<div class="sneakpeek__gallery">
		<img src="/img/work/3.png" >
	</div>
	<div class="sneakpeek__gallery">
		<img src="/img/work/4.png" >
	</div>
	<div class="sneakpeek__gallery">
		<img src="/img/work/5.png" >
	</div>
	<div class="sneakpeek__gallery">
		<img src="/img/work/6.png" >
	</div>
	<div class="sneakpeek__gallery">
		<img src="/img/work/7.png" >
	</div>
	<div class="sneakpeek__gallery">
		<img src="/img/work/8.png" >
	</div>
	<div class="sneakpeek__gallery">
		<img src="/img/work/9.png" >
	</div>

	<div class="space"></div>
</section>
<!-- end sneakpeek -->

<div class="space"></div>
<div class="fontain"></div>
	
	<!-- {% include "partials/_header.html" %} -->


	<!-- {# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #} -->

{% endblock %}
